
        .box_model1{
            border: 4px solid red;
            padding: 40px;
            margin: 40px;
        }
        .border_img1{
            border: 8px double red;
            padding: 20px;
            margin: 40px;
            border-radius: 40px 40px 40px 40px;
        }
        .box_model2{
            border: 5px solid blue;
            padding: 50px 30px 50px 30px;
            margin: 20px 40px 20px 40px;
        }

        .linear{
            height: 400px;
            background: linear-gradient(violet,indigo,blue,green,yellow,orange,red);
        }
        .heading{
            font-size: 100px;
            text-align: center;
            padding-top: 100px;
    
        }
        .l{
            height: 400px;
            background: linear-gradient(orange,white,green);
        }
        .radial{
            height: 600px;
            background: radial-gradient(circle, white, grey, black, blue);
        }
        .conic{
            height: 600px;
            background: conic-gradient(from 90deg,red,black,white);
            }
        .box{
            width: 200px;
            height: 100px;
            background-color: red;
            border: 4px solid black;
            text-align: center;
            margin-bottom: 10px;
        }
        .box1{
            position: static;
        }
        .box2{
            position: relative;
            left: 300px;
            top: 20px;
        }
        .box3{
            position: absolute;
            left: 300px;
            top: 20px;
        }
        .box4{
            position: sticky;
            top: 10px;
        }
        .box5{
            position: fixed;
            bottom: 0px;
            right: 10px;
        }
        .hall{
            position: relative;
            width: 400px;
            height: 400px;
            background-color: black;
            top: 60px;
            left: 250px;
        }
        #tv{
            position: absolute;
            width: 150px;
            height: 30px;
            top: 10px;
            left: 120px;
            background-color: yellow;
        }
        #sofa{
            position: absolute;
            width: 150px;
            height: 30px;
            top: 70px;
            left: 120px;
            background-color: red;
        }
        #fridge{
            position: absolute;
            width: 90px;
            height: 150px;
            top: 240px;
            left: 300px;
            background-color: red;
        }
        .flex-items{
            background-color: black;
            width: 200px;
            height: 150px;
            color: azure;
            text-align: center;
            margin: 10px;
            display: flex;
            font-size: 50px;
            list-style: none;
            justify-content: center;
            align-items: center;


        }
        .flex-container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

        }
        .flex-img{
            background-color: black;
            width: 400px;
            height: 200px;
            color: azure;
            text-align: center;
            margin: 10px;
            display: flex;
            font-size: 50px;
            list-style: none;
            justify-content: center;
            align-items: center;


        }
        /* .flex-container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around; center,space evenly,space between,space around
            align-items: center;

        } */

        h1{
            color: red;
            text-align: center;
            font-style: italic;

        }
        h1:hover{
            color: black;
            background-color: grey;
            font-size: 50px;
            text-align: center;
            font-style: italic;
        }
        input:focus{
            background-color: yellow;
            color: black;
        }
        a:visited{
            color:blueviolet;
        }
        p::first-letter{  
            color: red;
            font-size: 30px;

        }
        p::first-line{
            color: blue;
        }
        h2::selection{  /*to apply for all remove p*/
            color: red;
            background-color: yellow;
        }
        .container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 10px;
            gap:30px

        }
        .boxes{
            background-color: blanchedalmond;
            border: 3px solid black;
            height: 300px;
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform 4s ease-out;
            font-size: 30px;

        }
        /*.box11{
            transform: scale(0.5);
        }*/
        .box11:hover{
            transform: translate(125px,125px);
            
        }
        .box22:hover{
            transform: translateX(250px);
        }
        .box33:hover{
            transform: translateY(125px);
        }
        .box44:hover{
            transform: scale(0.5);
        }
        .box55:hover{
            transform: rotate(50deg);
        }
        .box66:hover{
            transform: skewX(20deg);
        }
        .box77:hover{
            transform: skewY(20deg);
        }
        .box88:hover{
            transform: skew(20deg,20deg);
        }
        .box99:hover{
            transform: scale(1.2) rotate(90deg) translateX(100px);
        }
        .img-wrapper{
            height: 230px;
            width: 200px;
            border: 4px solid red;
            position: relative;
            overflow: hidden;
            transition: transform 6s ease;
           
        }
        .inner-img:hover{
            transform: scale(2);
            height: 300px;
            width: 300px;
            transform: rotate(90deg);
            
        }
        .simple_animation{
            width: 300px;
            height: 300px;
            background-color: orange;
            position: relative;
            animation: myfirstanimation;
            -webkit-animation: myfirstanimation;
            animation-duration: 3s;
            animation-iteration-count: 3;
            animation-direction: alternate-reverse;
            animation-delay: 1s;
        }
        @keyframes myfirstanimation{
            0%{background-color: yellow;left: 0px;top: 0px}
            25%{background-color: red;left: 300px;top: 0px}
            50%{background-color: blue;left: 300px;top: 300px}
            75%{background-color: grey;left: 0px;top: 300px}
            100%{background-color: yellow;left: 0px;top: 0px}
        }


    